.app-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .form-container {
    width: 45%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  